.cir {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
}

.btnarea {
    margin: 30px 0;
}

.btn {
    width: 710px;
    height: 65px;
    border-radius: 20px;
    background-color:#060919;
    outline: 0;
    border:0;
    font-size: 35px;
    color:#fff;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}